body {
  background-image: url("./img3.jpg");
  margin: 0;
  background-size: cover;
  height: 75vh;
}

.box {

  display: block;
  width: 25vw;
  height: 60vh;
  margin: 10% auto;
  padding: 20px;
  border-radius: 15px;
  opacity: 0.7;
  font-weight: 700;
  color: black;
  background-color: #659ac2;
}

.inputData {
  position: relative;
}

.inputField {
  margin-left: 0;
  width: 100%;
  padding: 0.625rem 3rem 0.625rem 2.5rem;
  border: 2px solid black;
  border-radius: 3rem;
  box-sizing: border-box;
  font-size: medium;
  font-weight: 800;
  background-color: #9fb7db;
}

.inputIcon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
}

.location {
  margin-top: 2rem;
  font-size: 3rem;
}

.icon {
  margin-right: 1rem;
}

.temp {
  margin-top: -8%;
  text-align: center;
  font-size: 3rem;
}

.temp_minMax {
  text-align: center;
  font-size: 1.8rem;
}

.information {
  display: block;
  text-align: center;
}

.information img {
  height: 10rem;
  width: 10rem;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .box {
    width: 80vw;
    height: auto;
    padding: 10px;
  }
  
  .information img {
    height: 10rem;
    width: 10rem;
  }
}
